### Maven ###
target/
.mvn/
mvnw
mvnw.cmd

### Eclipse ###
.settings/
.classpath
.project

### Gradle ###
.gradle/
bin/
build/
gradle/

.factorypath
.gitignore
gradlew
gradlew.bat
micronaut-cli.yml
README.md
HELP.md
.vscode/
.gitignore
docker-compose.yml
.apt_generated/